@page "/entries"
@model SearchResultsModel
@{
    ViewData["Title"] = $"Search results for {Model.Query}";
}

@using Website.Resources
@inject Microsoft.Extensions.Localization.IStringLocalizer<Messages> Localizer

@await Html.PartialAsync("Partials/_MiniSearchForm")

<!-- main-content -->

<section id="content">
    <div class="container">
        <div class="row">

            <div class="col-sm-7 search-results">
                <h4>
                    @Localizer["entry-not-found.no-match"] <strong class="intonation"><i>@Model.Query</i></strong><br />
                    @Localizer["entry-not-found.suggest-pretext"]
                    <a href="/submitname?missing=@Model.Query">@Localizer["go-to-suggest-linktext"]</a>
                </h4>

                @if (Model.Names != null && Model.Names.Any())
                {
                    <p>@Localizer["entry-not-found.similar-names"]</p>
                    @foreach (var name in Model.Names)
                    {
                        <hr />
                        <h4 class="strong-text intonation"><a href="/entries/@name.Name">@name.Name</a></h4>

                        <p><strong>Brief Meaning: </strong> @name.Meaning </p>

                        <p class="small text-muted">
                            <strong>@Localizer["submitby"]</strong> @name.SubmittedBy
                        </p>
                    }
                }
            </div>
            @await Html.PartialAsync("Partials/_Alphabets", @Model.Alphabets)
        </div>
    </div>
</section>