@page "/entries/{nameEntry}"
@model SingleEntryModel
@{
    ViewData["Title"] = $"{Localizer["meaningof"]} {Model.Name.Name}";
}

@using Website.Resources
@using Website.Services.MultiLanguage
@inject Microsoft.Extensions.Localization.IStringLocalizer<Messages> Localizer
@inject ILanguageService LanguageService


@await Html.PartialAsync("Partials/_MiniSearchForm")

<!-- main-content -->

<section id="content">
    <div class="container">
        <div class="row search-result">
            <div class="col-sm-7 entry">

                <h2 class="intonation" id="name-entry">@Model.Name.Name</h2>

                <p>
                    <strong>@Localizer["pronunciation"]</strong>
                    <button class="btn btn-default btn-sm" id="tts-button">
                        <i class="fa fa-volume-up" data-placement="top" title="@Localizer["play-sound"]"></i>
                    </button>
                    <!--<span> class="pull-right text-muted"><strong>@Localizer["submitby"]</strong> @Model.Name.SubmittedBy</span>-->
                </p>

                <div class="share">
                    <a class="btn btn-sm btn-success" href="#improve-entry" data-toggle="modal" data-target="#improveEntryModal" style="margin-right:20px">
                        @Localizer["improve-entry"]  <i class="fa fa-pencil"></i>
                    </a>
                    <span class="text-muted">@Localizer["share"] <i class="fa fa-share-alt"></i></span>
                    <a target="_blank" class="btn btn-social btn-sm btn-fb btn-primary" href="http://www.facebook.com/sharer.php?u=@ViewData["BaseURL"]/entries/@Model.Name.Name"><i class="fa fa-facebook"></i> </a>
                    <a target="_blank" class="btn btn-social btn-sm btn-tw btn-info" href="https://twitter.com/intent/tweet?url=@ViewData["BaseURL"]/entries/@Model.Name.Name&amp;text=Did you know @Model.Name.Name means @Model.Name.Meaning?&amp;hashtags=@LanguageService.SocialName&amp;via=YorubaNames"><i class="fa fa-twitter"></i> </a>
                </div>

                <br><br>
                <h4>@Localizer["meaningof"] @Model.Name.Name</h4>
                <p class="intonation">@Model.Name.Meaning</p>

                @if (!string.IsNullOrEmpty(Model.Name.ExtendedMeaning))
                {
                    <br>                    <br>
                    <h4>@Localizer["extendedmeaningof"]</h4>
                    <p>@Model.Name.ExtendedMeaning</p>
                }

                @if (Model.Name.Videos.Any())
                {
                    <br>
                    <br>
                    <h4>@Localizer["videos"]</h4>
                    for (var index = 0; index < Model.Name.Videos.Count; index++)
                    {
                        var video = Model.Name.Videos[index];
                        <div class="video-container">
                            <div class="iframe-container" id="video@@@index">
                                <iframe src="https://www.youtube.com/embed/@video.VideoId"
                                        title="@video.Caption" frameborder="0"
                                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                        referrerpolicy="strict-origin-when-cross-origin"
                                        allowfullscreen></iframe>
                            </div>
                            <div class="video-caption">@video.Caption</div>
                        </div>
                    }
                }

                @if (!string.IsNullOrEmpty(Model.Name.Morphology?.ToString()))
                {
                    <br>                    <br>
                    <h4 class="intonation">@Localizer["morphology"]</h4>
                    <p>@Model.Name.Morphology</p>
                }


                @if (Model.Name.Etymology?.Count > 0)
                {
                    <br>

                    <br>
                    <h4>@Localizer["etymology"]</h4>
                    @foreach (var etym in Model.Name.Etymology)
                    {
                        <strong>@etym.Part</strong>                        <span> - @etym.Meaning</span>
                        <br>
                    }
                }


                @if (Model.Name.GeoLocation?.Count > 0)
                {
                    <br>                    <br>
                    <h4>@Localizer["geolocation"]</h4>
                    <p>
                        @Localizer["commonin"]:
                        @foreach (var place in Model.Name.GeoLocation)
                        {
                            <br />
                            @place
                        }
                    </p>
                }

                @if (!string.IsNullOrEmpty(Model.Name.FamousPeople?.ToString()))
                {
                    <br>                    <br>
                    <h4>@Localizer["famous-persons"]</h4>
                    <ul>
                        @foreach (var person in (List<string>)Model.Name.FamousPeople)
                        {
                            <li><p>@person</p></li>
                        }
                    </ul>
                }

                @if (!string.IsNullOrEmpty(Model.Name.Media?.ToString()))
                {
                    <br>
                    <br>
                    <h4>@Localizer["media-links"]</h4>
                    <ul>
                        @foreach (var link in (List<string>)Model.Name.Media)
                        {
                            <li><a href="@link" target="_blank">@link</a></li>
                        }
                    </ul>
                }

                @if (!string.IsNullOrEmpty(Model.Name.Variants?.ToString()))
                {
                    <br>

                    <br>
                    <h4>@Localizer["variants"]</h4>

                    foreach (var variant in (List<string>)Model.Name.Variants)
                    {
                        <p class="name"><a href="/entries/@variant" target="_self">@variant</a></p>
                    }
                }
            </div>

            <!-- sidebar -->
            <aside>
                <div class="col-sm-5 col-md-4">
                    @await Html.PartialAsync("Partials/_RightSidebar", Model.MostPopularNames)
                </div>
            </aside>
            <!-- /sidebar -->
            @await Html.PartialAsync("Partials/_Alphabets", Model.Letters)
        </div>

    </div>
</section>
<!-- /main-content -->
<!--Improve Entry Modal -->
<div class="modal fade" id="improveEntryModal" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h3>@Localizer["improve-entry.help-us"] "@Model.Name.Name"</h3>
            </div>
            <form name="name_feedback" class="modal-body" action="/api/v1/feedbacks" method="post">
                <div class="response"></div>
                <div class="form-group">
                    <input id="nameToFeedback" type="hidden" value="@Model.Name.Name" />
                    <p class="lead">@Localizer["improve-entry.sub-text"]</p>
                    <textarea name="feedback" id="improveEntry" class="form-control" rows="5" required="true"></textarea>
                </div>
                <button type="submit" id="submitEntry" class="btn btn-success btn-lg">Submit Feedback</button>
                &nbsp;&nbsp;&nbsp;&nbsp;<a href="#" data-dismiss="modal" id="close_feedback_modal">Cancel</a>
            </form>
        </div>
    </div>
</div>
<!--/Improve Entry Modal -->