@page "/submitname"
@model Website.Pages.SubmitNameModel
@{
    ViewData["Title"] = "Submit Name";
}

@using Website.Resources
@inject Microsoft.Extensions.Localization.IStringLocalizer<Messages> Localizer
@await Html.PartialAsync("Partials/_MiniSearchForm");

<!-- main-content -->
<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <h3>@Localizer["submitname.heading"]</h3>
                <hr />

                <div style="display: none" id="error-msg" class="alert alert-danger" role="alert">
                    @Localizer["submitname.nameexists"].
                    <a id="view-entry">@Localizer["submitname.viewentry"]</a>
                </div>
                <form id="suggest-form">

                    <div class="response"></div>

                    <div class="form-group">
                        <label class="required">@Localizer["submitname.entername"]</label>
                        <p class="small sec-color">
                            @Localizer["entry-not-found.minikeyb-text"]
                            <div class="input-group">
                                <input type="text" class="form-control" id="miniKeyboard" name="name"
                                       placeholder="@Localizer["submitname.enternameplch"]" value="@Model.MissingName" required="true">
                            </div>
                        </p>
                    </div><br>

                    <div class="form-group">
                        <label class="required">@Localizer["submitname.entermeaning"]:</label>
                        <textarea required="true" name="suggestedMeaning" id="suggestedMeaning" class="form-control"
                                  rows="3"></textarea>
                    </div><br>

                    <div class="form-group">
                        <label class="optional">@Localizer["submitname.enterlocation"]:</label>
                        <select name="suggestedGeoLocation" id="suggestedGeoLocation" multiple="multiple">
                            @foreach (var geoLocation in Model.GeoLocations)
                            {
                                <option value="@geoLocation.Region.@geoLocation.Place">@geoLocation.Place</option>
                            }
                        </select>
                    </div><br>

                    <!--Uncomment when TTS is implemented<div class="form-group">-->
                    <!--<label class="optonal">Please help us pronounce the new name:</label>-->
                    <!--<input type="file" id="pronunciation">-->
                    <!--</div>-->

                    <div class="form-group">
                        <label class="required">@Localizer["submitname.enteremail"]:</label>
                        <input type="email" name="suggestedEmail" class="form-control" id="suggestedEmail"
                               placeholder="Your email" required="true">
                    </div>

                    <button type="submit" id="submit-name" class="btn btn-success">Submit New Name</button>
                </form>
            </div>
        </div>
    </div>
</section>
